.elements__like-btn {
  border: none;
  padding: 0;
  background-image: url(../../../images/btn-like_Vector.svg);
  background-color: #ffffff;
  width: 20px;
  height: 18px;
  transition: opacity 0.3s linear;
}

.elements__like-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.elements__like-btn:active {
  background-image: url(../../../images/btn-like_active_Union.svg);
}

.elements__like-btn:focus {
  outline: none;
}
