.profile__description {
  margin: 14px 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}

@media screen and (min-width: 1024px) {
  .profile__description {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    margin-top: 16px;
    max-width: 460px;
  }
}
