.elements__delete-btn {
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  padding: 0;
  background-image: url(../../../images/btn-delete_Trash.svg);
  background-color: rgba(0,0,0,0);
  background-repeat: no-repeat;
  width: 18px;
  height: 19.3px;
  transition: opacity 0.3s linear;
}

.elements__delete-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.elements__delete-btn:focus {
  outline: none;
}
