.popup__btn-close {
  position: absolute;
  transform: translate(50%, -50%) rotate(45deg);
  top: -32px;
  right: 18px;
  background-image: url(../../../images/btn-Close_Icon.svg);
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  transition: opacity 0.3s linear;
}

.popup__btn-close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__btn-close:focus {
  outline: none;
}

@media screen and (min-width: 1024px) {
  .popup__btn-close {
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
}
